<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-nuevo-componente-styles.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-select/cells-select.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<dom-module id="cells-nuevo-componente">
  <template>
      <style include="cells-grid-template-styles"></style>
      <custom-style>
          <style>
            /* use :host to initialize the gutter width for Safari 9.X */
            html,
            :root {
              --cells-grid-template-gutter-width: 32px;
            }
          </style>
        </custom-style>


        <div class="cgt grid">
            <div class="cgt-col-xs-4 cgt-col-sm-4 cgt-col-md-6 cgt-col-lg-6">
                <cells-select label="Tipo Documento" selected-option="{{tipoDocumento}}" value="0">
                    <div data-option-value="DNI">DNI</div>
                    <div data-option-value="EXT">EXT</div>
                </cells-select>
            </div>
            <div class="cgt-col-xs-4 cgt-col-sm-4 cgt-col-md-6 cgt-col-lg-6">
                <cells-molecule-input name="NumDocu" value="{{numDocumento}}" label="Num Docu" type="text">
                  </cells-molecule-input>              
            </div>
            <div class="cgt-col-xs-4 cgt-col-sm-4 cgt-col-md-6 cgt-col-lg-6">
                <cells-molecule-input name="Celular" value="{{celular}}" label="Celular" type="text">
                  </cells-molecule-input>   
            </div>
            <div class="cgt-col-xs-4 cgt-col-sm-4 cgt-col-md-6 cgt-col-lg-6">
                <cells-molecule-input name="CorreoElectronico" value="{{correo}}" label="Correo Electronico" type="text">
                  </cells-molecule-input>   
            </div>
            
            <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12" style="text-align: center">
                <br/>
                <cells-st-button class="primary">
                    <button on-click="solicitar">Solicitar Prestamo</button>
                </cells-st-button>
            </div>

          </div>

        <cells-grid-template-overlay></cells-grid-template-overlay>
  </template>
  <script src="cells-nuevo-componente.js"></script>
</dom-module>